@font-face {
  font-family: 'shanhe';
  src:  url('fonts/shanhe.eot?z4ii31');
  src:  url('fonts/shanhe.eot?z4ii31#iefix') format('embedded-opentype'),
    url('fonts/shanhe.ttf?z4ii31') format('truetype'),
    url('fonts/shanhe.woff?z4ii31') format('woff'),
    url('fonts/shanhe.svg?z4ii31#shanhe') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shanhe' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shandian:before {
  content: "\e91b";
}
.icon-addcount:before {
  content: "\e900";
}
.icon-bottom-arrow:before {
  content: "\e901";
}
.icon-chenggong:before {
  content: "\e902";
}
.icon-dingdan:before {
  content: "\e903";
}
.icon-fenxiang:before {
  content: "\e904";
}
.icon-gou:before {
  content: "\e905";
}
.icon-jinggao:before {
  content: "\e906";
}
.icon-kefu:before {
  content: "\e907";
  color: #666;
}
.icon-left_arrow:before {
  content: "\e908";
}
.icon-loading:before {
  content: "\e909";
}
.icon-mima:before {
  content: "\e90a";
}
.icon-noData:before {
  content: "\e90b";
}
.icon-qianbao:before {
  content: "\e90c";
}
.icon-right-arrow:before {
  content: "\e90d";
}
.icon-shezhi:before {
  content: "\e90e";
}
.icon-shibai:before {
  content: "\e90f";
}
.icon-shouye:before {
  content: "\e910";
}
.icon-sousuo:before {
  content: "\e911";
}
.icon-vip:before {
  content: "\e912";
}
.icon-wode:before {
  content: "\e913";
}
.icon-wxPay:before {
  content: "\e914";
}
.icon-xiala:before {
  content: "\e915";
  color: #494949;
}
.icon-xiangji:before {
  content: "\e916";
}
.icon-xiaoxi:before {
  content: "\e917";
}
.icon-xie:before {
  content: "\e918";
}
.icon-zhengjia:before {
  content: "\e919";
}
.icon-zhifubao:before {
  content: "\e91a";
}
